<article class="tools-infor">
	<div class="cont-img">
    <img src="/img/page-image/page-2.jpg" alt="">
	</div>
	<div class="cont-infor">
    <h4 class="page-title">Lorem ipsum dolor</h4>
    <p class="lema">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dignissimos iusto culpa aliquid dicta praesentium mollitia placeat aspernatur saepe, fugit excepturi doloremque rerum eius maiores nostrum cumque delectus. Autem, dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

    <p class="lema">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dignissimos iusto culpa aliquid dicta praesentium mollitia placeat aspernatur saepe, fugit excepturi doloremque rerum eius maiores nostrum cumque delectus. Autem, dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    </div>
</article>